<template>
  <div>
    <div class="row p-2">
      <img
        @click="onCancelClick"
        style="cursor:pointer"
        src="@/assets/img/close.svg"
        height="20"
        alt
        srcset
      />
    </div>
    <div class="row pl-4 mb-2">
      <img src="@/assets/img/default.svg" height="50" alt srcset />
    </div>
    <div class="col p-2">
      <div class="text-left">
        <h6 class="p-0 m-0 text-wallet-title">Change default card</h6>
      </div>
      <span style="font-size:11px" v-html="textmodaldefault"></span>
      <div class="row justify-content-between">
        <div class="col-2">
          <b-button @click="onDefaultClick" class="btn-wallet">Yes</b-button>
        </div>
        <div @click="onCancelClick" class="col-6">
          <b-button variant="outline-dark " class="btn-wallet-cancel">Cancel</b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      textmodaldefault:
        "This card will appear as a primary option for your<br/>payment. Are you sure you want to set this card<br/>as default"
    };
  },
  methods:{
      onDefaultClick(id){
          
          this.$emit("onDefaultClick", {idcard:id,tipo:1})
      },
      onCancelClick(){
          this.$emit("onCancelClick", 1)
      }
  }
};
</script>