<template>
  <div class="home" style="outline:none">
    <b-card>
      <div class="text-left">
        <h5 class="text-wallet-title">My Cards</h5>
      </div>
      <hr />
      <b-card-text>
        <CCards
          @onDefaultClick="openModal"
          @onRemoveClick="openModal"
          v-for="(item, index) in ArrayCards"
          :key="index"
          :idCard="item.id"
          :cardNumber="item.CardNumber"
          :defaultCard="item.defaultCard"
          :cardMonth="item.CardExpMonth"
          :cardYear="item.CardExpYear"
        />
      </b-card-text>
    </b-card>
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      variant="danger"
      @dismiss-count-down="countDownChanged"
    >Faltan completar campos.</b-alert>

    <b-card class="mt-2" style="cursor:pointer" @click="visible=!visible">
      <b-card-text>
        <div class="text-left">

          <h5 class="text-wallet-title">+ Add Card</h5>
        </div>
      </b-card-text>
    </b-card>
    <b-collapse id="collapse-4" v-model="visible" class="mt-2">
      <b-card>
        <div class="row align-items-center p-3">
          <img src="@/assets/img/icookgreen.svg" height="25" alt class="mr-2" />
          <small>
            <span class="text-wallet-lightGreen" v-html="AllowCardText"></span>
          </small>
          <img src="@/assets/img/paymethods.jpg" alt />
        </div>
        <form @submit.prevent="addCard" ref="formulario">
          <div class="row">
            <div class="col-sm-2">
              <label for="name" size="sm">
                <small>
                  <span class="font-weight-bold">Name on Card</span>
                </small>
              </label>
              <b-form-input required id="name" v-model="creditCard.CardName"></b-form-input>
            </div>
            <div class="col-sm-4">
              <label for="number" size="sm">
                <small>
                  <span class="font-weight-bold">Credit/Debit Card Number</span>
                </small>
              </label>
              <b-form-input
                :state="creditCard.CardNumber?validation:null"
                required
                id="number"
                v-model="creditCard.CardNumber"
              ></b-form-input>
              <b-form-invalid-feedback v-if="creditCard.CardNumber" :state="validation">Your Creditcard Number must be 16 characters long starting with 3, 4 or 5.</b-form-invalid-feedback>
            </div>
            <div class="col-sm-2">
              <label for="expMonth" size="sm">
                <small>
                  <span class="font-weight-bold">Exp.Month</span>
                </small>
              </label>
              <b-form-input type="number" min="1" max="12"  maxlength="2" required id="expMonth" v-model="creditCard.CardExpMonth"></b-form-input>
            </div>
            <div class="col-sm-2">
              <label for="expYear" size="sm">
                <small>
                  <span class="font-weight-bold">Exp.Year</span>
                </small>
              </label>
              <b-form-input type="number" min="22" max="30"  maxlength="2" required id="expYear" v-model="creditCard.CardExpYear "></b-form-input>
            </div>
            <div class="col-sm-2">
              <label for="code" size="sm">
                <small>
                  <span class="font-weight-bold">Security Code</span>
                </small>
              </label>
              <b-form-input  maxlength="3" required id="code" v-model="creditCard.CardCode"></b-form-input>
            </div>
          </div>
          <div class="row align-items-center p-3">
            <div class="col-sm-2">
              <img src="@/assets/img/secure.png" height="50" alt />
            </div>
            <div class="col-sm-10">
              <b-button class="btn-wallet w-100" type="submit">Add Card</b-button>
            </div>
          </div>
        </form>
      </b-card>
    </b-collapse>
    <b-modal size="sm" v-model="modalShow" hide-footer hide-header>
      <defaultModal
        v-if="tipoModal==1"
        @onDefaultClick="setDefaultClick(idCard)"
        @onCancelClick="closeModal"
      />
      <removeModal
        v-if="tipoModal==2"
        @onRemoveClick="RemoveClick(idCard)"
        @onCancelClick="closeModal"
      />
    </b-modal>
  </div>
</template>

<script>
import CCards from "@/components/ccards.vue";
import defaultModal from "@/components/modals/defaultModal.vue";
import removeModal from "@/components/modals/removeModal.vue";
import { CardModel } from "@/models";
export default {
  name: "home",
  components: {
    CCards,
    defaultModal,
    removeModal
  },
  data() {
    return {
      dismissSecs: 2,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      creditCard: CardModel.newCard(),

      renderCards: true,
      modalShow: false,
      visible: false,
      idCard: null,
      tipoModal: 1,
      AllowCardText: "We Accept All Major<br/>Debit/Credit Cards",
      creditCards: [
        {
          id: "1",
          CardNumber: "4027985611474568",
          CardExpMonth: "08",
          CardExpYear: "20",
          defaultCard: false
        },
        {
          id: "2",
          CardNumber: "3027985611474569",
          CardExpMonth: "08",
          CardExpYear: "20",
          defaultCard: false
        },
        {
          id: "3",
          CardNumber: "5127985611474518",
          CardExpMonth: "07",
          CardExpYear: "20",
          defaultCard: true
        }
        /*     {id:'4', number:'4027985611474538', date:'07/20', defaultCard:false} */
      ]
    };
  },
  methods: {
    addCard() {
      if (this.validation) {
        this.creditCard.id = String(
          parseInt(this.creditCards[this.creditCards.length - 1].id) + 1
        );
        let array = this.creditCards;
        array.push(this.creditCard);
        this.creditCards = array;
        this.visible = false;
        this.creditCard = CardModel.newCard();
      }
    },
    RemoveClick(id) {
      this.renderCards = false;
      console.log("before remove", this.creditCards);
      let array = this.creditCards.filter(item => {
        return item.id != id;
      });
      this.creditCards = array;
      console.log("after remove", this.creditCards);
      this.renderCards = true;
      this.closeModal();
    },
    setDefaultClick(id) {
      console.log("Hola DefaultClick");
      let array = this.creditCards.map(item => {
        return item.id == id
          ? (item.defaultCard = true)
          : (item.defaultCard = false);
      });
      this.closeModal();
      console.log(array);
    },
    closeModal() {
      this.modalShow = false;
    },
    openModal(obj) {
      this.tipoModal = obj.tipo;
      this.idCard = obj.id;
      this.modalShow = true;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    }
  },
  computed: {
    ArrayCards() {
      return this.creditCards ? this.creditCards : [];
    },
    validation() {
      if (
        this.creditCard.CardNumber.length == 16 &&
        (this.creditCard.CardNumber[0] == 3 ||
          this.creditCard.CardNumber[0] == 4 ||
          this.creditCard.CardNumber[0] == 5)
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    console.log(this.card);
  }
};
</script>
