<template>
  <div class="pa-4">
    <b-card class="shadow-sm p-1 mb-3 bg-white rounded">
      <b-card-text>
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-6">
            <div class="row align-items-center">
              <div class="col-1 col-md-1">
                <div v-if="defaultCard" class="col p-0">
                  <img src="@/assets/img/icookgreen.svg" height="20" alt srcset />
                </div>
                <div v-if="!defaultCard" class="col p-0">
                  <img src="@/assets/img/icookgrey.svg" height="20" alt srcset />
                </div>
              </div>
              <div class="col-4 col-md-3">
                <div v-if="cardtype=='1'" class="col p-0">
                  <img src="@/assets/img/Visa.svg" height="40" alt srcset />
                </div>
                <div v-if="cardtype=='2'" class="col p-0">
                  <img src="@/assets/img/MC.svg" height="40" alt srcset />
                </div>
                <div v-if="cardtype=='3'" class="col p-0">
                  <img src="@/assets/img/amex.svg" height="40" alt srcset />
                </div>
              </div>
              <div class="col-6 col-md-8">
                <div class="row">{{maskedCardNumber}}</div>
                <div class="row">
                  <span>Ex.Date: {{cardMonth}}/{{cardYear}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <div class="col">
                <b-button
                  class="text-wallet-darkgrey"
                  variant="outline"
                  @click="onRemoveClick(idCard)"
                ><span  class="text-wallet-darkgrey">Remove</span></b-button>
              </div>
              <div class="col">
                <b-button
                 
                  variant="outline"
                  @click="onDefaultClick(idCard)"
                ><span  class="text-wallet-title">Default</span></b-button>
              </div>
            </div>
          </div>
        </div>
      </b-card-text>
    </b-card>
  </div>
</template>
<style lang="scss">
@import "src/assets/styles/main.scss";
</style>
<script>
export default {
  props: {
    idCard: {
      default: null,
      type: String
    },
    defaultCard: {
      default: false,
      type: Boolean
    },
    cardNumber: {
      default: null,
      type: String
    },
    cardMonth: {
      default: null,
      type: String
    },
    cardYear: {
      default: null,
      type: String
    }
  },

  data() {
    return {};
  },
  methods: {
    onDefaultClick() {
      this.$emit("onDefaultClick", { id: this.idCard, tipo: 1 });
    },
    onRemoveClick() {
      this.$emit("onRemoveClick", { id: this.idCard, tipo: 2 });
    }
  },
  mounted() {},
  computed: {
    maskedCardNumber() {
      return "************" + this.cardNumber.substr(-4);
    },
    cardtype() {
      switch (this.cardNumber[0]) {
        case "4":
          return "1";
          break;
        case "3":
          return "3";
          break;
        case "5":
          return "2";
          break;
        default:
          break;
      }
    }
  }
};
</script>
