<template>
  <div id="app">
    <div>
      <b-container>
      <b-tabs  content-class="mt-3" justified >
        <b-tab title="My Applications"  >
          <template v-slot:title >
            <img src="@/assets/img/icoapp.svg" height="20" alt="" srcset="">
            <strong class="ml-2 d-none d-sm-block">MY APPLICATION</strong>
          </template>
          <OnWorking/>
        </b-tab>
        <b-tab title="My Applications" >
          <template v-slot:title>
            <img src="@/assets/img/icotrav.svg" height="20" alt="" srcset="">
            <strong class="ml-2 d-none d-sm-block">MY TRAVELERS</strong>
          </template>
          <OnWorking/>
          </b-tab>
        <b-tab title="My Applications" active>
          <template v-slot:title>
            <img src="@/assets/img/icocard.svg" height="20" alt="" srcset="" >
            <strong class="ml-2 d-none d-sm-block">MY CARDS</strong>
          </template>
          <Home/>
        </b-tab>
        <b-tab title="My Applications" >
          <template v-slot:title>
            <img src="@/assets/img/icoacc.svg" height="20" alt="" srcset="">
            <strong class="ml-2 d-none d-sm-block">MY ACCOUNT</strong>
          </template>
          <OnWorking/>
        </b-tab>
      </b-tabs>
      </b-container>

    </div>
  </div>
</template>
<script>
import OnWorking from "@/components/OnWorking.vue"
import Home from "@/views/Home.vue"
export default {
  components:{
    OnWorking,
    Home
  }
}
</script>
<style lang="scss">
@import 'src/assets/styles/main.scss';
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;

}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.nav-tabs .nav-link {
    margin-left: 10px;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #ededed;
    &.active{
      border-top: 3px solid  #52d03e!important;
    }
}
</style>
