

.text-wallet{
    &-title{
        color:#43689e
    };
    &-darkgrey{
        color:#6a757e
    };
    &-lightGreen{
        color:#52d03e
    }
}
.btn-wallet{
    background-color: #52d03e!important;
    border: 1px solid #52d03e!important;
    border-radius: 10px!important;
    width: 120px;
    &-cancel{
        border-radius: 10px!important;
    width: 120px;
    }
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: flex;
}